body{
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5dc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    color: #3d3d3d;
    font-size: 2.5em;
    text-shadow: 1px 1px 1px #3d3d3d;
}

.lorem{
    margin-bottom: 40px;
}

.parent{
    display: flex;
    flex-direction: row;
}

#img1{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    
    
}

#img2{
    margin-left: 80px;
    width: 300px;
    height: 200px;
    border: 1px solid black;

    
}

a{
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

footer{
    margin-top: 30px;
    width: 100%;
    height: 100px;
    background-color: #676767;
    position: absolute;
    bottom: 0;
    
}

.pfoot{
    color: white;
    float: right;
    margin-right: 20px;
}

